<% if (locals.products) { %>
<section>
    <%products.forEach(product => { %>
    <article>
        <h3><%= product.petname %></h3>
        <p>
            Type:
            <a href="/category/view/<%= product.animalid %>"
                ><%= product.type %></a
            >
        </p>
        <p>
            Foster Family:
            <a href="/user/view/<%= product.userid %>"><%= product.name %></a>
        </p>
        <p>Price: <%= product.price %></p>
        <a href="/product/view/<%= product.id %>">View Details</a>
        <a href="/productManagement/<%= product.id %>">Edit</a>
    </article>
    <% }); %>
</section>
<% } %>
