<% if (locals.products) { %>
<section>
    <%products.forEach(product => { %>
    <article>
        <h3><%= product.petname %></h3>
        <p><span>Type: </span><%= product.type %></p>
        <p><span>Foster Family: </span><%= product.name %></p>
        <p><span>Price: </span><%= product.price %></p>
        <a href="/productManagement/<%= product.id %>">Edit</a>
    </article>
    <% }); %>
</section>
<% } %>
