<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
    </head>
    <body>
        <header>
            <h1><%= title %></h1>
            <h2>Filter by Animal Type</h2>
            <a href="/categoryManagement/new">New Animal Type</a>
            <ul>
                <% if (categories) { %> <% categories.forEach(category => { %>
                <li>
                    <a href="/category/<%=category.id%>"><%=category.type%></a
                    ><a href="/categoryManagement/<%=category.id%>">Edit</a>
                </li>
                <% }) %> <% } %>
            </ul>
            <h2>Filter by Foster Family</h2>
            <a href="/userManagement/new">New Foster Family</a>
            <ul>
                <% if (users) { %> <% users.forEach(user => { %>
                <li>
                    <a href="/user/<%=user.id%>"><%=user.name%></a
                    ><a href="/userManagement/<%=user.id%>">Edit</a>
                </li>
                <% }) %> <% } %>
            </ul>
        </header>
        <main>
            <a href="/productManagement/new">New Foster Animal</a>
            <%- include("partials/product.ejs", {products: products}) %>
        </main>
    </body>
</html>
